# Clangd configuration for GLFW examples
---
# 指定编译标志
CompileFlags:
  # 添加包含目录
  Add:
    - -I${workspaceFolder}/include
    - -I${workspaceFolder}/external/wgpu/include
    - -I${workspaceFolder}/src
    - -Id:/Software/Dev/msys64/ucrt64/include
    - -std=c11
  # 移除可能导致问题的标志
  Remove: 
    - -pedantic
    - -Wpedantic
